#hero {
  height: 40vh;
  background: url(../img/hero-bg2.jpg)no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  box-shadow: 
    inset 0px 15px 8px -12px rgba(0, 0, 0, .5),
    inset 0px -15px 8px -12px rgba(0, 0, 0, .5); 

  @include mq600 {
    background-position: left bottom;
  }

  h1 {
    opacity: 0;
    border: 2px solid rgba(0, 0, 0, .75);
    background: rgba(0, 0, 0, .5);
    padding: .25em 2.5em;
    color: white;
    display: inline-block;
    font-weight: 300;
    font-size: 4rem;

    @include mq600 {
      padding: .5em 1em;
      font-size: 2.5rem;
    }
  }
}